---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<h1>
			Hi, My name is Karthik Ragi and this is the first time I have created a website!
		</h1>
		<p>
			I'm excited to share my journey into web development. I will share them on my portfolio website.
			
			<karthikragi class="com"></karthikragi>
		</p>
	</main>
</Layout>
